<div class="container text-center mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="mb-5">
        <h1><%= @cocktail.name %></h1>
      </div>

      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Ingredients</th>
            <th>Dose</th>
          </tr>
        </thead>
        <tbody>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %>
                  <%= link_to dose_path(dose),
                    method: :delete,
                    class: "p-2",
                    data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-trash"></i>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="links">
        <%= link_to "Back to Recipes", cocktails_path, class: "btn btn-warning" %>

        <%= link_to "Edit Name", edit_cocktail_path(@cocktail), class: "btn btn-warning" %>

        <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-warning" %>

        <%= link_to "Delete",
          cocktail_path(@cocktail),
          method: :delete,
          class: "btn btn-warning",
          data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
